:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-background: 36, 36, 36;
  --color-disabled: 168, 162, 158;

  --color-primary: 30, 58, 138;
  --color-on-primary: white;
  --color-background-primary: 245, 245, 244;

  --color-secondary: 26, 26, 26;
  --color-on-secondary: white;

  --color-status-green: 101, 163, 13;
  --color-status-red: 185, 28, 28;
  --color-status-grey: 214, 211, 209;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(var(--color-background));

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
}